// variables
$foreground-color: #ec4899;
$background-color: #1f2937;
$link-color: #eded4a;
$alt-link-color: #4a4aed;
$max-width: 650px;

// styles
body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: $background-color;
  color: $foreground-color;
  max-width: $max-width;
  margin: 40px auto;
  padding: 0 10px;
}

section {
  margin: 20px auto;
}

footer {
  border-top: 1px solid white;
  margin: 80px auto 40px;
  font-size: small;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: none;
}

a:link:hover,
a:visited:hover {
  text-decoration: underline;
}

// responsive images
img {
  max-width: 100%;
  height: auto;
}

.marginless {
  margin: 0;
}

.badge {
            user-select: none;
    -webkit-user-select: none;
  -webkit-touch-callout: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

.polaroid {
  background-color: white;
  padding: 20px 20px 60px 20px;
  margin: 40px 80px 80px 40px;
  transform: rotate(1.5deg);
  border-radius: 8px;
  box-shadow:
    0 0 0 1px rgba(255,255,255,0.1),
    0 6px 10px rgba(0,0,0,0.55),
    0 22px 40px rgba(0,0,0,0.40),
    0 48px 80px rgba(0,0,0,0.35);
}

@media (max-width: $max-width) {
  .polaroid {
    margin: 40px 30px 80px 30px;
    transform: rotate(3deg);
  }
}

.polaroid img {
  border-radius: 4px;
}

.attribution {
  margin: 0 10px;
  font-size: x-small;
  text-align: right;
}

.attribution a:link,
.attribution a:visited {
  color: $alt-link-color;
}
